#desc {
    font-family: 'Roboto Mono', monospace;
    border-left: thick solid #393838;
    padding-left: 2rem;

}

#alert {
    font-family: 'Roboto Mono', monospace;
    border-left: thick solid red;
    color: red;
    padding-left: 2rem;

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
